<section class="header-component">
    <section class="header-component__section header-component__title">
        ${ this.blogTitle }
    </section>
    <nav class="header-component__section header-component__navigation">
        <ul class="menu">
            ${
                this.menuItems.map((item, index) => (
                    `<li id="menu-item-${index}" class="menu-item ${ item.active ? 'active' : '' }">
                        <a href="${item.link}">
                            ${ item.label }
                        </a>
                    </li>`
                )).join('')
            }
        </ul>
    </nav>
</section>