@import 'src/assets/styles/theme';

.header-component {
    height: 55px;
    display: table-cell;
    vertical-align: middle;
    padding: 0 30px;
    color: $primary-text-color;

    .header-component__section {
        display: inline-block;
    }

    .header-component__title {
        font-weight: bold;
        font-size: 20px;
    }

    .header-component__navigation {
        float: right;

        .menu-item {
            display: inline-block;
            margin: 0 15px;
            text-decoration: none;

            a {
                text-decoration: none;
                color: inherit;
            }

            &.active, &:hover {
                border-bottom: 4px solid $primary-color;
            }
        }
    }

}