@import 'src/assets/styles/theme';

.articles {
    .article {
        margin: 20px;
        margin-bottom: 30px;

        &:not(:last-child) {
            border-bottom: 1px solid #CCC;
        }

        .article__title {
            font-size: 35px;
            font-weight: bold;
            text-decoration: none;
        }

        .article__summary {
            font-style: italic;
            margin: 10px 0;
        }

        .article__info {
            margin-top: 20px
        }
    }
}