@import 'src/assets/styles/theme';

.articles {
    .article {
        margin: 20px;
        margin-bottom: 30px;

        &:not(:last-child) {
            border-bottom: 1px solid #CCC;
        }

        .article__title {
            font-size: 35px;
            font-weight: bold;
            text-decoration: none;

            a {
                border-bottom: none;
                font-style: normal;
                &:hover {
                    border-bottom: 1px solid $primary-color;
                }
            }
        }

        .article__summary {
            font-style: italic;
            margin: 10px 0;
        }

        .article__info {
            margin-top: 20px
        }
    }
}

.no-articles-message {
    text-align: center;
    font-weight: bold;
}