<section>
    ${
        this.articles.map(article => (
            `<article>
                <h3>
                    <a href="#/article/${ article.id }">
                        ${ article.title }
                    </a>
                </h3>
                <section>
                    <span>Autor: ${ article.author }</span>
                    <span>${ article.publicationDate }</span>
                    <span>Tags: ${ article.tags.join(', ') }</span>
                </section>
            </article>`
        )).join('')
    }
</section>