<section class="articles">
    ${
        this.articles.map(article => (
            `<article class="article">
                <h3 class="article__title">
                    <a href="#/article/${ article.id }">
                        ${ article.title }
                    </a>
                </h3>
                <section class="article__summary">
                    <p>${ article.summary }</p>
                </section>
                
                <section class="article__info">
                    ${ this.getArticleInfo(article) }
                </section>
            </article>`
        )).join('')
    }
</section>