<span class="get-back-button clickable-link">
    <a href="#/articles">&lArr; Voltar</a>
</span>

<article class="article-viewer">
    </span>
    <section class="article-viewer__title">
        <h1>${ this.article.title }</h1>
    </section>
    
    ${ this.articleInfoComponent }
    
    <section class="article-viewer__summary">
            ${ this.article.summary }
    </section>
    <main class="article-viewer__content">
        <section class="article">
            ${ this.markdown.makeHtml(this.article.body) }
        </section>
    </main>
</article>