@import 'src/assets/styles/theme';

.article {
    font-size: 19px;

    a {
        font-style: italic;
        font-weight: bold;
        color: $primary-color;
    }

    blockquote {
        margin: 25px;
        border-left: 6px solid $primary-color;
        padding-left: 9px;
        margin-left: -15px;
    }
}