@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&subset=latin,latin-ext);

.article-viewer {
    text-align: center;
    font-family: 'Lora', serif;
    margin-top: -20px;

    .article-viewer__title {
        h1 {
            font-size: 50px;
            margin: 20px 0;
        }
    }

    .article-viewer__summary {
        font-style: italic;
        font-size: 16px;
        margin: 20px 50px;
        text-align: justify;
    }

    .article-viewer__content {
        text-align: justify;
        line-height: 20pt;
        @import './article-style.scss';
    }
}

.get-back-button {
    text-align: left;
}