@import './reset.scss';

header {
    width: 100%;
    display: table;
}

main#main-component {
    margin: 15px 15% 40px 15%;
}

footer {
    width: 100%;
    height: 30px;
    padding-top: 10px;
    position: relative;
    bottom: 0;
}

h1 {
    font-size: 40px;
}

a {
	color: inherit;
    text-decoration: none;
    
    &.colored {
        font-style: italic;
        font-weight: bold;
        color: $primary-color;
    }

    &:hover {
        border-bottom: 1px solid $primary-color;
    }
}